/*-----header-----*/
#main-header {
    height: 400px;
}

#about-site {
    color: grey;
}



/*-----main-----*/
h1 {
    font-size: 40px;
    color: darkslategrey;
    font-family: sans-serif;
        padding: 13px 21px 0 21px;
}

#blog-content {
    width: 1000px;
}

.h-style {
    color: darkslategrey;
}
