




        <-----------------Flex-align iteam:---------------->





        The align-items property is used to align the flex items along the cross-axis.

         The cross-axis is perpendicular to the main-axis.

	If the main-axis is horizontal, then cross-axis is vertical. 

	If the main-axis is vertical, then cross- axis is horizontal. 

	 Align-items can be set to any of these values:


	● flex-start
	● flex-end
	● center
	● stretch - default
	● baseline

	Eg., for the layout like this:


	<div class="flex-container">
	<div id="div1">div1</div>
	<div id="div2">div2</div>
	<div id="div3">div3</div>
	</div>
	we can use like this: .flex-container { display:flex; width:300px; height:150px; backgroundcolor:lightgrey; }
	.flex-container div { width:70px; min-height:70px; }
	#div1 { background-color:#7ff9ae; }
	#div2 { background-color:#76bbfc; }
	#div3 { background-color:#ff7f8e; }

	NOTE: Remember that the default behaviour will stretch the items only if the height of the
item is not fixed. But if the size is fixed, all the other values other than the stretch
value will work.




--------------:stretch:------- align-items: stretch;


The stretch value stretches the flex items to fill the container along the cross axis.

 This is the default value. Else use align-items: stretch; in the flex-container
class.


------------:flex-start:---------------- align-items: flex-start;


The flex-start value aligns the items towards the start of the cross axis.

 Use align-items: flex-start;

 ----------:flex-end:----------- align-items: flex-end;

The flex-end value aligns the items towards the end of the cross axis.

 Use align-items: flex-end;


 -------------:center:------------------------- align-items: center;

The center value aligns the items towards the center of the cross axis.

 Use align-items: center;



------------------:baseline:--------------------------


	The baseline value aligns the flex items such as the baselines of the content inside
	the items.

	This means that the bottom base of the content inside the flex item will be the axis

	   to align the items.

	    To work with this property, we need to make some variation in the above code.

	     The changes are highlighted:

	<div class="flex-container">

	<div id="div1"><h5>h1</h5></div>
	<div id="div2"><h2>h2</h2></div>
	<div id="div3"><h1>h3</h1></div>
</div>

we can use like this: 

.flex-container { display:flex; width:300px; height:150px; align-items:baseline; 
	background-color:lightgrey; }
	
.flex-container div { width:70px; min-height:70px; }
#div1 { background-color:#7ff9ae; }
#div2 { background-color:#76bbfc; }
#div3 { background-color:#ff7f8e; }




