#article{
	font-size: 20px;
	color: green;
	font-weight: 300;
	text-align: center;
	text-decoration: underline;
	line-height:20px;
	/*text-transform: uppercase;*/
    font-family:cursive;
     word-spacing: 1px;
     line-height: 

}