<Sign IN></Sign>
<form action="" method="GET">
    <input type="email" name="email" placeholder="Email-Id" required>
    <input type="password" name="password" placeholder="password" required>
    <input type="submit" name="button">
</form>